.ChatBoxWrapper {
  margin: 0;
  padding: 0;
  width: 30%;
  height:25em;
  position: relative;
  border: solid;
  border-width: 1px;
}






.header {
  padding: 0;
  margin: 0;
}

.message-box {
  position: absolute;
  bottom: 0;
}

.mb-3 {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}

.input-box-bottom {
  width: 50;
}

.MuiToolbar-regular {
  background-color: #2969cf;
}

.ConversationThread {
  overflow-y: auto;
}

.AutoAnswer-message-box {
  position: absolute;
  width: 161px;
  height: 32px;
  left: 20px;
  top: 75px;
  font-family: Averta;
  font-size: 11px;
  line-height: 14px;

  color: #000000;
  background-color: grey;
}
